<div class="ui placeholder segment">
  <div class="ui three column stackable center aligned grid">
    <!--<div class="ui vertical divider"></div>-->
    <div class="middle aligned row">
      <div class="column">
        <div class="ui icon header">
          <i class="users icon"></i>
          Customers
        </div>
        <div class="field">
         <h3 class="ui header">{{customers}}</h3>
        </div>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="gem icon"></i>
          Items
        </div>
        <div class="field">
          <h3 class="ui header">{{items}}</h3>
        </div>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="shop icon"></i>
          Orders
        </div>
        <div class="field">
          <h3 class="ui header">{{orders}}</h3>
        </div>
      </div>

    </div>
  </div>
</div>
