<div class="ui breadcrumb">
  <div class="section">App</div>
  <div class="divider"> /</div>
  <div class="active section">Order</div>
</div>


<h3 class="ui header"></h3>


<!--<div class="ui grid">-->
<!--  <div (click)="openModalPlaceOrder()" style="margin-left: 85%" class="ui teal labeled icon right floated button">-->
<!--    Place Order-->
<!--    <i class="add icon"></i>-->
<!--  </div>-->
<!--</div>-->

<div class="ui grid">
  <div class="sixteen column row">
    <div class="sixteen wide column">
      <table class="ui single line striped selectable unstackable table">
        <thead>
        <tr>
          <th>Order ID</th>
          <th>Customer ID</th>
          <th>Customer Name</th>
          <th>Order Date</th>
          <th>Sub Total</th>
          <th class="center aligned">#</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders;">
          <td>{{order.order.id}}</td>
          <td>{{order.order.custId}}</td>
          <td>{{order.order.custName}}</td>
          <td>{{order.order.date}}</td>
          <td>{{'RS. '+getTotal(order.cartItems).toFixed(2)}}</td>
          <td class="center aligned">
            <button (click)="openModalPlaceOrder(order)" class="ui green circular compact eye icon button"><i class="eye icon"></i></button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<div id="orderModel" class="ui longer fullscreen modal">
  <i class="close icon"></i>
  <div class="header">Place Order</div>
  <div class="content">
    <div class="ui grid">
      <div class="sixteen column row">
        <div class="sixteen wide column">
          <div class="ui teal secondary segment">
            <div class="ui form mini">
              <div class="four fields">
                <div class="field">
                  <label>Customer ID</label>
                  <input [(ngModel)]="modalOrder.order.custId" type="text" name="customerID" placeholder="Customer ID" readonly>
                </div>
                <div class="field">
                  <label>Customer Name</label>
                  <input [(ngModel)]="modalOrder.order.custName" type="text" name="customerName" placeholder="Customer Name" readonly>
                </div>
                <div class="field">
                  <label>Order ID</label>
                  <input [(ngModel)]="modalOrder.order.id" type="text" name="orderID" placeholder="Order ID" readonly>
                </div>
                <div class="field">
                  <label>Order Date</label>
                  <input [(ngModel)]="modalOrder.order.date" type="text" name="orderDate" placeholder="OrderDate" readonly>
                </div>
              </div>

              <table class="ui single line striped selectable unstackable table">
                <thead>
                <tr>
                  <th>Item Code</th>
                  <th>Item Name</th>
                  <th>Item Description</th>
                  <th>Unit Price</th>
                  <th>Qty</th>
                  <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of modalOrder.cartItems">
                  <td>{{item.code}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td>{{'RS. '+item.price.toFixed(2)}}</td>
                  <td>{{item.qty}}</td>
                  <td>{{'RS. '+(item.qty * item.price).toFixed(2)}}</td>
                </tr>
                </tbody>
              </table>

              <div class="inline fields">
                <div class="sixteen wide field">

                </div>
              </div>

              <div class="inline fields">
                <div class="sixteen wide field">
                  <label style="width: 25%;">Sub Total</label>
                  <input [value]="'RS. '+modalSubTotal.toFixed(2)" type="text" name="total" placeholder="Sub Total" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="actions">
    <div class="negative ui cancel button">Cancel</div>
<!--    <div class="ui positive button">Save</div>-->
  </div>
</div>
